PORT=

### db
DB_NAME=
DB_HOST=
DB_PORT=

### hashed
SALT_ROUNDS=

### jwt
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

### PAGINATION
PAGINATION_DEFAULT_PAGE=
PAGINATION_DEFAULT_LIMIT=
PAGINATION_MAX_LIMIT=